<h1>New Entry</h1>

<%= form_with model: @entry, url: "/entries", local: true, multipart: true do |form| %>
  <div class="mb-3">
    <%= form.label :title, "Title" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, "Description" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :occurred_on, "Occurred On" %>
    <%= form.date_field :occurred_on, class: "form-control" %>
  </div>

  <% @place = Place.find_by(id: session["place_id"]) %>
  <% if @place %>
    <p>Posting in: <strong><%= @place.name %></strong></p>
  <% end %>

  <div class="mb-3">
    <%= form.label :uploaded_image, "Upload an image:" %>
    <%= form.file_field :uploaded_image, class: "form-control" %>
  </div>

  <%= form.submit "Post", class: "btn btn-primary" %>
<% end %>
