<h1>New Entry</h1>

<%= form_with model: @entry, url: "/entries", local: true, multipart: true do |form| %>
  <div class="mb-3">
    <%= form.label :body, "Write something:" %>
    <%= form.text_area :body, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :uploaded_image, "Upload an image:" %>
    <%= form.file_field :uploaded_image, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :place_name, "Enter a Place:" %>
    <%= form.text_field :place_name, class: "form-control" %>
  </div>

  <%= form.submit "Post", class: "btn btn-primary" %>
<% end %>
