<h1>Sign Up</h1>

<%= form_with url: "/users", local: true do |form| %>
  <div class="mb-3">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", name: "user[email]" %>
  </div>

  <div class="mb-3">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control", name: "user[password]" %>
  </div>

  <%= form.submit "Create Account", class: "btn btn-primary" %>
<% end %>
