<h1><%= @place.name %></h1>

<p><%= link_to "New Post", new_place_entry_path(@place), { class: "btn btn-primary" } %></p>

<div class="row">
  <% if @entries.count > 0 %>
    <% @entries.each do |entry| %>
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-body">
            <h3><%= entry.title %></h3>
            <p><%= entry.occurred_on %></p>
            <% if entry["image"].attached? %>
              <%= image_tag url_for(entry["image"]), class: "img-fluid", alt: "Image for #{entry["title"]}" %>
            <% end %>
            <p><%= entry.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No entries yet for this place.</p>
  <% end %>
</div>